<div class="main-div">
 <div id="wrapper">
    <%= render 'layouts/sidebar' %>
        <div class="row wrapper border-bottom white-bg page-heading" id="Orders">
            <div class="col-lg-12">
                <h2>Orders</h2>
            </div>
        </div>
        
        
          <ul class="nav nav-tabs">
            <li class="nav-item active">
              <a class="nav-link" href="#pending_orders" role="tab" data-toggle="tab">Pending</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#assigned_orders" role="tab" data-toggle="tab">Assigned</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#delivered_orders" role="tab" data-toggle="tab">Delivered</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#complete_orders" role="tab" data-toggle="tab">Complete</a>
            </li>
          </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="pending_orders">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Pending Orders</h5>
                                
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                
                            <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTables-example managers" >
                            <thead>
                            <tr>
                                <th>Order No</th>
                                <th>Creation date</th>
                                <th>Client</th>
                                <th>Project Type</th>
                                <th>Action</th>
                                <th>Action</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% @pending_orders.each do |o| %>
                            <tr>
                                <td><%= o.id %></td>
                                <td><%= o.created_at %></td>
                                <td><%= o.user.name %></td>
                                <td><%= o.design_type %></td>
                                <td><%= link_to "Edit", edit_order_path(o) %></td>
                                <td><%= link_to "Delete",order_path(o), :method => :delete %></td>
                                <td><%= link_to "View details", order_path(o) %></td>
                            </tr>
                            <% end %>
                            </tbody>
                            
                            </table>
                                </div>
                
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade in" id="assigned_orders">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Assigned Orders</h5>
                                
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                
                            <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTables-example managers" >
                            <thead>
                            <tr>
                                <th>Order No</th>
                                <th>Client</th>
                                <th>Manager</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% @assigned_orders.each do |o| %>
                            <tr>
                                <td><%= o.id %></td>
                                <td><%= o.user.name %></td>
                                <td><%= o.employee_order.employee.name %></td>
                                <td><%= link_to "Show", order_path(o) %></td>
                            </tr>
                            <% end %>
                            </tbody>
                            
                            </table>
                                </div>
                
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade in" id="delivered_orders">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Delivered Orders</h5>
                                
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                
                            <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTables-example managers" >
                            <thead>
                            <tr>
                                <th>Order No</th>
                                <th>Manager</th>
                                <th>Client</th>
                                <th>Comments</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% @delivered_orders.each do |o| %>
                            <tr>
                                <td><%= o.id %></td>
                                <td><%= o.employee.name %></td>
                                <td><%= o.user.name %></td>
                                <td><%= o.review %></td>
                                <td><%= link_to "Show", order_path(o) %></td>
                            </tr>
                            <% end %>
                            </tbody>
                            
                            </table>
                                </div>
                
                            </div>
                        </div>
                    </div>
                </div>
                </div>
        
            </div>
            <div role="tabpanel" class="tab-pane fade in" id="complete_orders">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Complete Orders</h5>
                                
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                
                            <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTables-example managers" >
                            <thead>
                            <tr>
                                <th>Order No</th>
                                <th>Client</th>
                                <th>Manager</th>
                                <th>Rating</th>
                                <th>Review</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% @complete_orders.each do |o| %>
                            <tr>
                                <td><%= o.id %></td>
                                <td><%= o.user.name %></td>
                                <td><%= o.employee.name %></td>
                                <td><%= o.rating %></td>
                                <td><%= o.review %></td>
                            </tr>
                            <% end %>
                            </tbody>
                            
                            </table>
                                </div>
                
                            </div>
                        </div>
                    </div>
                </div>
                </div>
        
            </div>
        </div>
        
        
        
    <%= render 'layouts/footer' %>
</div>
</div>