
<!--Start of Zendesk Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="https://v2.zopim.com/?5UEn6e6GUFue1VXgSTLO3RNGCaEGTWuU";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!--End of Zendesk Chat Script-->
<!--Start of Zendesk Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="https://v2.zopim.com/?5UEn6e6GUFue1VXgSTLO3RNGCaEGTWuU";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!--End of Zendesk Chat Script-->
<link rel="stylesheet" media="all" href="/pricing.css" data-turbolinks-track="reload" />
<link rel="stylesheet" media="all" href="/faq.css" data-turbolinks-track="reload" />
<link rel="stylesheet" media="all" href="/testimonials.css" data-turbolinks-track="reload" />
<script type="text/javascript" src="/landing-page.js"></script>
<script type="text/javascript" src="/equal-height.js"></script>
<script type="text/javascript" src="/SmoothScroll.js"></script>
<script type="text/javascript" src="/jquery.sticky.js"></script>
<div class="landing-page">    
    <!-- Header -->
    <nav class="navbar navbar-default navbar-custom sticky">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="/design360-logo.png" class="img-responsive"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
                <li><a href="#about-us">What’s Included</a></li>
                <li><a href="#works">How It Works</a></li>
                <li><a href="#faq">FAQ</a></li>
                <li><a href="#Pricing">Pricing</a></li>
                <li><a href="#contact">Contact</a></li>
                <% if user_signed_in? or employee_signed_in? %>
                    <% if current_user %>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">My Account<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <% if current_user.subscribe? %>
                                <li><a href="/clients/dashboard">Dashboard</a></li>
                                <li><a href="/users/edit">Edit Profile</a></li>
                            <% end %>
                            <li><a href="/users/sign_out" data-method="delete">Log Out</a></li>
                        </ul>
                    </li>    
                  <% end %>
                  <% if current_employee %>
                  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">My Account<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <% if current_employee.admin? %>
                        <li><a href="/admin/dashboard">Dashboard</a></li>
                        <% else %>
                        <li><a href="/managers/dashboard">Dashboard</a></li>
                        <% end %>
                        <li><a href="/employees/edit">Edit Profile</a></li>
                        <li><a href="/employees/sign_out" data-method="delete">Log Out</a></li>
                        <% end %>
                    </ul>
                </li>    
                    <% else %>
                    <li><a class="btn btn-custom-outline" style="margin: 0;" data-toggle="modal" data-target="#social-modal-login">Login</span></a>
                    
                <% end %>
                
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
    <!-- /Header -->

    <!-- Home -->
    <section id="home">
      <div class="home-bg"></div><!-- Bg-image -->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="intro-title">We are  <span href="" class="typewrite" data-period="2000" data-type='[ "THE #1 GRAPHIC DESIGN AGENCY", "DESIGN 360"]'>
            <span class="wrap"></span></span></h1>
            <p class="intro-text">Unlimited Designs. Unlimited Revisions. One Low Flat-Fee.</p>
            <div class="btn-bar">
              <a href="#pricing" class="btn btn-custom">Plans & Pricing</a>
              <a href="#contact" class="btn btn-custom-outline">Contact Us</a>
            </div>
          </div> <!-- /col -->
        </div> <!-- /row -->
      </div> <!-- /container -->
    </section>
    <!-- /Home -->

    <!-- About -->
    <section id="about-us">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title">FUEL YOUR BRAND</h3>
                    <p class="slog">With the top rated graphic design agency for growing business.</p>
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->

            <div class="row features-box">
                <div class="col-sm-4 text-right">
                    <div class="margin-b-md">
                        <div class="row hidden-sm hidden-xs">
                            <div class="col-md-10 col-sm-10">
                                
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <img class="img-responsive margin-b-sm" src="left.png">
                            </div>
                        </div>
                        <center><img class="img-responsive margin-b-sm hidden-md hidden-lg" src="left.png"></center>
                        <h4>UNLIMITED REQUESTS</h4>
                        <p>Create as many projects as you need, we will work through them one at a time.</p>
                    </div>
                    <!-- / margin -->
                </div>
                <!-- /col -->
                <div class="col-sm-4 features-line">
                    <div class="margin-b-md">
                        <center><img class="img-responsive" src="center.png"></center>
                        <h4>24 HOUR TURNAROUND</h4>
                        <p>Enjoy our insanely fast turnaround times. Your finished design will be delivered back to you within one business day.</p>
                    </div>
                    <!-- / margin -->
                </div>
                <!-- /col -->
                <div class="col-sm-4 text-left">
                    <div class="margin-b-md">
                        <img class="img-responsive hidden-xs" src="right.png">
                        <center><img class="img-responsive hidden-sm hidden-md hidden-lg" src="right.png"></center>
                        <h4>7 DAY FREE TRIAL</h4>
                        <p>Try us out free for 7 days to make sure we are the perfect fit. We only bill you after your free trial ends.</p>
                    </div>
                    <!-- / margin -->
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->

            <div class="row advanced-about">
                <div class="col-sm-6 text-left">
                    <h4><b>We Are Creative Experts </b></h4>
                    <hr/>
                    <p>From explainer videos to Facebook ads, logos to business cards. We do it all. Design360 has helped countless brands develop a professional image and eye-catching marketing materials. We pride ourselves on making visually compelling designs that move your customers to action. We’re so confident you’ll fall in love with our work that we are offering a 7 day free trial. After singing up, login to your dashboard, get comfortable with our easy-to-use dashboard, and start receiving your designs. We will see you on the inside!</p>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fas fa-angle-right"></i>Our average turnaround time is under 24 hours.
                        </li>
                        <li>
                            <i class="fas fa-angle-right"></i>All rights & source files included, you own everything we create.
                        </li>
                        <li>
                            <i class="fas fa-angle-right"></i>Each of our designers has 10+ years of experience in graphic design.
                        </li>
                        <li>
                            <i class="fas fa-angle-right"></i>Rest easy with our 24/7 support team
                        </li>
                        <li>
                            <i class="fas fa-angle-right"></i>Pay the same low monthly price (no matter how many projects you create). .
                        </li>
                    </ul>
                    <a href="#pricing" class="btn btn-custom margin-t-md">Plans & Pricing</a>
                </div>
                <!-- /col -->

                <div class="col-sm-6 text-center">
                    <img src="Client Dashboard.png" alt="Client Dashboard" class="img-responsive" width="130%">
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- About -->

    <!-- Brands -->
    <section class="testi-slide parallax" id="testimonials">
        <div class="container">
            <article class="col-md-12 text-center">
                <div class="intermediate-container">
                    <div class="heading">
                        <h2>Brands We’ve Worked With</h2>
                    </div>
                </div>
            </article>
            <div class="row">
                <div class="col-sm-3">
                    <center><img src="1.png" alt="Partner 1" class="img-responsive"></center>
                </div>

                <div class="col-sm-3">
                    <center><img src="2.png" alt="Partner 1" class="img-responsive"></center>
                </div>

                <div class="col-sm-3">
                    <center><img src="3.png" alt="Partner 1" class="img-responsive"></center>
                </div>

                <div class="col-sm-3">
                    <center><img src="4.png" alt="Partner 1" class="img-responsive"></center>
                </div>
            </div>
        </div>
        <!-- container -->
    </section>
    <!-- Brands -->
    
    <!-- Services -->
    <section class="services" id="services">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h3 class="title">All Your Design Needs, We Take Care of Everything!</h3>
                    <p class="slog">Let the experts handle your creative needs so that you can focus on the other moving parts of your business.</p>
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->

            <div class="row">
                <div class="col-sm-4">
                    <div class="service-item margin-b-md">
                        <img src="logo-design.png" class="our_icon">
                        <div class="service-detail">
                            <h4>Logos</h4>
                            <p>Make the perfect first impression with professional and custom logo design.</p>
                        </div>
                        <!-- /service-detail -->
                    </div>
                    <!-- /service-item margin-b-md -->
                </div>
                <!-- /col -->

                <div class="col-sm-4">
                    <div class="service-item margin-b-md">
                        <img src="social-media-design.png" class="our_icon">
                        <div class="service-detail">
                            <h4>Social Media Design</h4>
                            <p>Establishing your social media presence is crucial. Expand your reach with our custom social media design.</p>
                        </div>
                        <!-- /service-detail -->
                    </div>
                    <!-- /service-item margin-b-md -->
                </div>
                <!-- /col -->

                <div class="col-sm-4">
                    <div class="service-item margin-b-md">
                    <!--<i class="fas fa-search"></i>-->
                    <img src="web-ad.png" class="our_icon">
                        <div class="service-detail">
                            <h4>Web Ads</h4>
                            <p>Attract more eyeballs and increase CTR with our high-performing web & banner ad designs.</p>
                        </div>
                        <!-- /service-detail -->
                    </div>
                    <!-- /service-item margin-b-md -->
                </div>
                <!-- /col -->
            </div>
            <!-- end row -->

            <div class="row">
                <div class="col-sm-4">
                    <div class="service-item margin-b-md">
                        <img src="brochures.png" class="our_icon">
                        <div class="service-detail">
                            <h4>Brochures</h4>
                            <p>Use a brochure to capture the attention of potential and existing customers.</p>
                        </div>
                        <!-- /service-detail -->
                    </div>
                    <!-- /service-item margin-b-md -->
                </div>
                <!-- /col -->

                <div class="col-sm-4">
                    <div class="service-item margin-b-md">
                        <img src="bus. cards & stationery.png" class="our_icon">
                        <div class="service-detail">
                            <h4>Business Cards & Stationery</h4>
                            <p>Create the perfect first impression. Custom business cards & stationery are essential to making your brand memorable.</p>
                        </div>
                        <!-- /service-detail -->
                    </div>
                    <!-- /service-item margin-b-md -->
                </div>
                <!-- /col -->

                <div class="col-sm-4">
                    <div class="service-item margin-b-md">
                        <img src="posters-flyers.png" class="our_icon">
                        <div class="service-detail">
                            <h4>Posters & Flyers</h4>
                            <p>Be bold when promoting your business. Our poster & flyer design will get your brand the attention it deserves.</p>
                        </div>
                        <!-- /service-detail -->
                    </div>
                    <!-- /service-item margin-b-md -->
                </div>
                <!-- /col -->
            </div>
            <!-- end row -->

            <div class="row">
                <div class="col-sm-4">
                    <div class="service-item margin-b-md">
                        <img src="explainer videos.png" class="our_icon">
                        <div class="service-detail">
                            <h4>Explainer Videos</h4>
                            <p>Clearly define your message or advertise your rand in a unique way with our 2D/3D animated videos.</p>
                        </div>
                        <!-- /service-detail -->
                    </div>
                    <!-- /service-item margin-b-md -->
                </div>
                <!-- /col -->

                <div class="col-sm-4">
                    <div class="service-item margin-b-md">
                        <img src="infographic.png" class="our_icon">
                        <div class="service-detail">
                            <h4>Infographics</h4>
                            <p>Communicate data in an easy-to-understand way with our visually compelling infographics.</p>
                        </div>
                        <!-- /service-detail -->
                    </div>
                    <!-- /service-item margin-b-md -->
                </div>
                <!-- /col -->

                <div class="col-sm-4">
                    <div class="service-item margin-b-md">
                       <img src="packaging labeling.png" class="our_icon">
                        <div class="service-detail">
                            <h4>Packaging & Labels</h4>
                            <p>Get noticed before your competitors. Create a lasting impression and showcase your brand with our packaging & label design.</p>
                        </div>
                        <!-- /service-detail -->
                    </div>
                    <!-- /service-item margin-b-md -->
                </div>
                <!-- /col -->
            </div>
            <!-- end row -->
            
            <div class="row">
                <div class="col-sm-4">
                    <div class="service-item margin-b-md">
                       <img src="cartoon.png" class="our_icon">
                        <div class="service-detail">
                            <h4>Cartoons & Illustrations</h4>
                            <p>Our designers are not only experts in digital design, we can draw with our hands too!</p>
                        </div>
                        <!-- /service-detail -->
                    </div>
                    <!-- /service-item margin-b-md -->
                </div>
                <!-- /col -->

                <div class="col-sm-4">
                    <div class="service-item margin-b-md">
                         <img src="3D-modeling.png" class="our_icon">
                        <div class="service-detail">
                            <h4>3D Modeling</h4>
                            <p>The experience of a 3D image can be more compelling and satisfying to a prospect than 2D. Make your brand pop with our 3D design.</p>
                        </div>
                        <!-- /service-detail -->
                    </div>
                    <!-- /service-item margin-b-md -->
                </div>
                <!-- /col -->

                <div class="col-sm-4">
                    <div class="service-item margin-b-md">
                        <img src="T-shirt.png" class="our_icon">
                        <div class="service-detail">
                            <h4>T-shirts</h4>
                            <p>Whether it’s a new apparel design for your Shopify store or a professional tee for your business, we will create it in our design lab.</p>
                        </div>
                        <!-- /service-detail -->
                    </div>
                    <!-- /service-item margin-b-md -->
                </div>
                <!-- /col -->
            </div>
            <!-- end row -->

            <div class="row">
                <div class="col-sm-4">
                    <div class="service-item margin-b-md">
                        <img src="email presentation.png" class="our_icon">
                        <div class="service-detail">
                            <h4>Email & Presentation Design</h4>
                            <p>Every detail matters. Our email template design and presentation design will make sure your business maintains a professional image.</p>
                        </div>
                        <!-- /service-detail -->
                    </div>
                    <!-- /service-item margin-b-md -->
                </div>
                <!-- /col -->

                <div class="col-sm-4">
                    <div class="service-item margin-b-md">
                        <img src="vector-training.png" class="our_icon">
                        <div class="service-detail">
                            <h4>Vector Tracing</h4>
                            <p>Need better artwork? We will convert your design into a stunning & symmetrical vector file, for a higher quality logo or artwork.</p>
                        </div>
                        <!-- /service-detail -->
                    </div>
                    <!-- /service-item margin-b-md -->
                </div>
                <!-- /col -->

                <div class="col-sm-4">
                    <div class="service-item margin-b-md">
                        <img src="and much more.png" class="our_icon">
                        <div class="service-detail">
                            <h4>And Much More…</h4>
                            <p>We are experienced in all types of graphic design. Give us a description of what you need and watch your idea come to life!</p>
                        </div>
                        <!-- /service-detail -->
                    </div>
                    <!-- /service-item margin-b-md -->
                </div>
                <!-- /col -->
            </div>
            <!-- end row -->

        </div>
        <!-- container -->
    </section>
    <!-- /Services -->

    <!--  Intro-section -->
    <section class="parallax" id="inner-section">
        <div class="container">
            <div class="row">
                <article class="col-md-12 text-center">
                    <div class="intermediate-container">
                        <div class="subheading">
                            <h4>Our designs are meant to inspire action and convert customers into buyers. We approach every project with a marketer’s mindset, focusing on what works best in your industry. Are you ready to ignite your brand?</h4>
                        </div>
                        <div class="heading">
                            <h2>START YOUR FREE TRIAL!</h2>
                        </div>
                        <div class="">
                            <a class="btn btn-custom" href="#pricing"><span>Plans & Pricing</span></a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <!-- / Intro-section -->
    
     <!-- Portfolio -->
    <section class="text-center" id="works">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title">How It Works</h3>
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->

            <div class="row row-eq">
                <div class="col-md-4 port-item margin-b-md">
                    <div class="item-img-wrap">
                        <center><img src="login.png" class="img-responsive" alt="login"></center>

                    </div>
                    <div class="work-desc">
                        <h3><a href="#">Login to Your Dashboard</a></h3>
                        <span>Sign in to your easy-to-use client dashboard. This is where you will create new projects and can do things such as edit your profile or manage billing.<br><br></span>
                    </div>
                </div>
                <!-- /portfolio-item -->

              
                <div class="col-md-4 port-item margin-b-md">
                    <div class="item-img-wrap">
                        <center><img src="create a task.png" class="img-responsive" alt="Create Task"></center>

                    </div>
                    <div class="work-desc">
                        <h3><a href="#">Create A Task</a></h3>
                        <span>You can create a project directly from your dashboard. Select the design type, answer a few questions about the project, and submit your request.<br><br></span>
                    </div>
                </div>
                <!-- /portfolio-item -->

                 <div class="col-md-4 port-item margin-b-md">
                    <div class="item-img-wrap">
                        <center><img src="sit back.png" class="img-responsive" alt="Sit Back"></center>

                    </div>
                    <div class="work-desc">
                        <h3><a href="#">Sit Back and Relax</a></h3>
                        <span>We begin working on your design as soon as it gets requested! Expect to receive your finished design in your dashboard within one business day. You can then mark the project as complete, or if you need to, request a revision!</span>
                    </div>
                </div>
                <!-- /portfolio-item -->
            </div>
            <!-- /row -->

        </div>
        <!-- /container -->
    </section>
    <!-- / Portfolio -->





    <!-- Testimonials -->
    
    <div class="container margin-t-md">
        <div class="row text-center">
            <div class="col-md-12">
                    <h3 class="title">Hear from our Clients</h3>
                </div>
                <!-- /col -->
            </div>
		<div class="row">
			
			<div class="jag-tst-theme-2 jag-tst-theme-blue jag-equalheight">
				<div class="col-md-4 jag-tst-col">
					<div class="jag-tst-wrapper">
						<div class="jag-tst-color-bg"></div>
						<div class="jag-tst-avatar">
							<img src="/Alexander Luszczak.png" class="img-responsive" alt="">
						</div>
						<div class="jag-tst-details">
							<div class="jag-name">Alexander Luszczak</div>
							<div class="jag-designation"> - CEO, Music City Removal</div>
							
							<hr>
							<div class="jag-message">
								<i class="fa fa-quote-left"></i> 
								Every entrepreneur needs this service, Design360 has created EVERYTHING for me and my brand is a lot stronger because of it. Their designs have allowed us to appear more professional and prospects take us seriously like they would a much bigger company. 
								
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 jag-tst-col">
					<div class="jag-tst-wrapper">
						<div class="jag-tst-avatar">
							<img src="/Gabriella Toman.png" class="img-responsive" alt="">
						</div>
						<div class="jag-tst-details">
							<div class="jag-name">Gabriella Toman</div>
							<div class="jag-designation"> - Creative Director, DOMM </div>
						
							<hr>
							<div class="jag-message">
								<i class="fa fa-quote-left"></i> 
                                They provide us with so much value. I help manage a Facebook Ad Agency and we outsource our ad images to Design360. They consistently produce good ad creatives for us, which overall helps us gain a higher conversion rate for clients. We have a number of clients, so we use their pro plan.								
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 jag-tst-col">
					<div class="jag-tst-wrapper">
						<div class="jag-tst-avatar">
							<img src="/Scott Pouyat.png" class="img-responsive" alt="">
						</div>
						<div class="jag-tst-details">
							<div class="jag-name">Scott Pouyat</div>
							<div class="jag-designation"> - Optometrist/Owner, Eyecare Associates </div>
							
							<hr>
							<div class="jag-message">
								<i class="fa fa-quote-left"></i> 
                                I’ve worked with Design360 for the last 6 months or so. As soon as I found them, I regretted all the (unreliable) freelancers I’ve worked with in the past. Design 360 is quick, reliable, and I always know what I’m getting. They really understand my brand and consistently produce effective marketing materials for us at Eyecare Associates.								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			
			<div class="jag-tst-theme-2 jag-tst-theme-blue jag-equalheight">
				<div class="col-md-4 jag-tst-col">
					<div class="jag-tst-wrapper">
						<div class="jag-tst-color-bg"></div>
						<div class="jag-tst-avatar">
							<img src="Roland Najbar.png" class="img-responsive" alt="">
						</div>
						<div class="jag-tst-details">
							<div class="jag-name">Roland Najbar</div>
							<div class="jag-designation"> - Head of Marketing, Revolution Tires & Wheels</div>
							
							<hr>
							<div class="jag-message">
								<i class="fa fa-quote-left"></i> 
                                We love using Design360 because it allows us to have extremely professional graphic designers at our disposal for a fraction of the cost. Before them, it’s absolutely crazy that I considered hiring a graphic designer for 40-50k.								
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 jag-tst-col">
					<div class="jag-tst-wrapper">
						<div class="jag-tst-avatar">
							<img src="Rakesh Patel.png" class="img-responsive" alt="">
						</div>
						<div class="jag-tst-details">
							<div class="jag-name">Rakesh Patel</div>
							<div class="jag-designation"> - CEO, Labs of America </div>
						
							<hr>
							<div class="jag-message">
								<i class="fa fa-quote-left"></i> 
                                Design360 is really the only graphic design service we haven’t been disappointed by, and we’ve tried many before them. The name of the game for us is turnaround. When we need a design, it has to be done pretty quickly. Design360 usually creates what we need in under 24 hours and they always seem to get it right the first time.							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 jag-tst-col">
					<div class="jag-tst-wrapper">
						<div class="jag-tst-avatar">
							<img src="Stephen Kaidantsis.png" class="img-responsive" alt="">
						</div>
						<div class="jag-tst-details">
							<div class="jag-name">Stephen Kaidantsis</div>
							<div class="jag-designation"> - Co-founder, Doctor’s Recommended</div>
							
							<hr>
							<div class="jag-message">
								<i class="fa fa-quote-left"></i> 
                                As a growing company, we didn’t want to hire a full-time designer or a big to burn through our cash. Design360 was the perfect solution for our company. We get quality and consistent designs while saving a ton of money in the process… works for me!							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- End Testimonials -->
    <!-- FAQ -->
    <section class="testi-slide parallax" id="faq">
    <div class="container margin-t-lg" >
        <article class="col-md-12 text-center">
            <div class="intermediate-container">
                <div class="heading">
                    <h2>Frequently Asked Questions</h2>
                </div>
            </div>
        </article>
	<div class="row">
    <div class="col-md-12">
			
			<div class="panel-group jag-faq-theme3 jag-faq-theme-pink" id="jag-theme-3">
				<div class="panel jag-faq-wrapper">
					<div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-3" href="#collapse3_1">
						<i class="jag-faq-icon-3 fa fa-coffee pull-right"></i>
						Do I get all the paid features in the free trial?
					</div>
					<div id="collapse3_1" class="panel-collapse collapse">
						<div class="panel-body">
						Yes, you will receive everything that’s included in our monthly plans!
						</div>
					</div>
				</div>
				<div class="panel jag-faq-wrapper">
					<div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-3" href="#collapse3_2">
						<i class="jag-faq-icon-3 fa fa-coffee pull-right"></i>
						How long does it take to get started and setup my account?
					</div>
					<div id="collapse3_2" class="panel-collapse collapse">
						<div class="panel-body">
						You can get started requesting designs in no-time! We do not have a long onboarding process or make you use 3rd party apps like Trello, all communication is done through your client dashboard. You can request your first design within minutes of signing up!
						</div>
					</div>
				</div>
				<div class="panel jag-faq-wrapper">
					<div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-3" href="#collapse3_3">
						<i class="jag-faq-icon-3 fa fa-coffee pull-right"></i>
						Is it really unlimited?
					</div>
					<div id="collapse3_3" class="panel-collapse collapse">
						<div class="panel-body">
						Yes, it is really unlimited. You can request as many tasks as you want. We will work through them 1 at a time with our Basic plan, or 3 at a time with our Pro plan.
						</div>
					</div>
				</div>
				<div class="panel jag-faq-wrapper">
					<div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-3" href="#collapse3_4">
						<i class="jag-faq-icon-3 fa fa-coffee pull-right"></i>
						What’s not included?
					</div>
					<div id="collapse3_4" class="panel-collapse collapse">
						<div class="panel-body">
						Anything that requires coding or an integration into something else – we do not do any web design or app design. If you have something particular in mind, just ask!
						</div>
					</div>
				</div>
				<div class="panel jag-faq-wrapper">
					<div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-3" href="#collapse3_5">
						<i class="jag-faq-icon-3 fa fa-coffee pull-right"></i>
						Where is Design360 Based?
					</div>
					<div id="collapse3_5" class="panel-collapse collapse">
						<div class="panel-body">
						Tampa, Florida! Our project managers are all right here in the U.S. and we employ designers from all over the world. 
						</div>
					</div>
				</div>
				<div class="panel jag-faq-wrapper">
					<div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-3" href="#collapse3_6">
						<i class="jag-faq-icon-3 fa fa-coffee pull-right"></i>
						What if I don’t like a design?
					</div>
					<div id="collapse3_6" class="panel-collapse collapse">
						<div class="panel-body">
						Don’t worry, this can happen! We include unlimited revisions. When projects are delivered, you have the option to either mark it as complete or request a revision.
						</div>
					</div>
				</div>
				<div class="panel jag-faq-wrapper">
					<div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-3" href="#collapse3_7">
						<i class="jag-faq-icon-3 fa fa-coffee pull-right"></i>
						Can I cancel at any time?
					</div>
					<div id="collapse3_7" class="panel-collapse collapse">
						<div class="panel-body">
						Yes! All contracts are month-to-month, you are absolutely free to cancel at any time, you may do so in your dashboard.
						</div>
					</div>
				</div>
				<div class="panel jag-faq-wrapper">
					<div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-3" href="#collapse3_8">
						<i class="jag-faq-icon-3 fa fa-coffee pull-right"></i>
						Can I trust you with my credit card details?
					</div>
					<div id="collapse3_8" class="panel-collapse collapse">
						<div class="panel-body">
						We use Stripe, a leading payment gateway to process payments. We do not store or even see your credit card details. Stripe handles everything securely for us.
						</div>
					</div>
				</div>
				<div class="panel jag-faq-wrapper">
					<div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-3" href="#collapse3_9">
						<i class="jag-faq-icon-3 fa fa-coffee pull-right"></i>
						I own multiple brands; can I submit tasks for each one?
					</div>
					<div id="collapse3_9" class="panel-collapse collapse">
						<div class="panel-body">
						Yes! As long as it comes from your client dashboard, you can submit designs for whatever you need.
						</div>
					</div>
				</div>
				<div class="panel jag-faq-wrapper">
					<div class="jag-faq-title" data-toggle="collapse" data-parent="#jag-theme-3" href="#collapse3_10">
						<i class="jag-faq-icon-3 fa fa-coffee pull-right"></i>
						Can I resell any designs that Design360 creates for me?
					</div>
					<div id="collapse3_10" class="panel-collapse collapse">
						<div class="panel-body">
						Yes. You own and control all of the intellectual property that we create for you.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</section>
	<!-- End FAQ -->
	<!-- *********  PRICING  ********* -->
	<section style="padding-bottom:0px; padding-top:80px;" id="pricing">
    <div class="pricing-2" >
        <div class="container margin-t-lg" id="Pricing">
            <div class="row text-center">
                <div class="col-md-12 pric">
                    <h3 class="title">Creative Domination Starts Here</h3>
                </div>
                    <!-- /col -->
            </div>
                <div class="row pric">
                    
                    <div class="col-md-6">
                        <div class="block block-pricing block-raised">
                            <div class="table table-info">
                                <h6 class="category">Basic</h6>
                                <h1 class="block-caption"><small>$</small>376<span>/mo</span></h1>
                                <ul>
                                    <li><i class="fas fa-check"></i><span>Unlimited Graphic Design</span></li>
                                    <li><i class="fas fa-check"></i><span>Unlimited Requests</span></li>
                                    <li><i class="fas fa-check"></i><span>Unlimited Revisions</span></li>
                                    <li><i class="fas fa-check"></i><span>Dedicated U.S. Project Manager</span></li>
                                    <li><i class="fas fa-check"></i><span>Design Team Collaboration</span></li>
                                    <li><i class="fas fa-check"></i><span>Next Day Project Delivery</li>
                                    <li><span>1 Project at a time</span></li>
                                    <li><i class="fas fa-check"></i><span>Source Files Included</span></li>
                                    <li><i class="fas fa-check"></i><span>Unlimited Brands</span></li>
                                    <li><i class="fas fa-check"></i><span>No Contract or Cancellation Fee</span></li>
                                </ul>
                                <% if user_signed_in? %>
                                    <!--<button type="button" class="btn btn-white btn-raise btn-round" data-toggle="modal" data-target="#myModal">7 DAYS FREE TRIAL</button>-->
                                    <%# if user_signed_in? %>
                                        <%#= @plans[1][:id] %>
                                    <% if @plans.present? %>
                                        <%= form_tag('/subscription_checkout', {method: :post}) do %>
                                          
                                            <input name="stripe_plan_id" type="hidden" value="<%= @plans[1][:id] %>"></input>
                                            <!--<input name="plan_id" type="hidden" value="<%#= plan[:id] %>"></input>-->
                                            <script class="stripe-button" data-amount="<%= (@plans[1][:amount]) %>" data-currency="<%= @plans[1][:currency] %>" data-email="<%= @signed_in_user.email %>" data-image="/design360-logo.png" data-key="<%= Rails.configuration.stripe[:publishable_key] %>" src="https://checkout.stripe.com/checkout.js"></script>
                                        <% end %>
                                    <% end %>
                                    
                                    
                                    
                                <% else %>
                                    <a style="margin: 0;"  id="modal-link-login" data-toggle="modal" data-target="#social-modal-join" class="btn btn-white btn-raise btn-round">7 DAY FREE TRIAL</a> 
                                
                                <% end %>
                            </div>

                                
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="block block-pricing block-plain">
                            <div class="table tablepro">
                                <h6 class="category">Pro</h6>
                                <h1 class="block-caption"><small>$</small>799<span>/mo</span></h1>
                                <ul>
                                    <li><i class="fas fa-check"></i><span>Unlimited Graphic Design</span></li>
                                    <li><i class="fas fa-check"></i><span>Unlimited Requests</span></li>
                                    <li><i class="fas fa-check"></i><span>Unlimited Revisions</span></li>
                                    <li><i class="fas fa-check"></i><span>Dedicated U.S. Project Manager</span></li>
                                    <li><i class="fas fa-check"></i><span>Design Team Collaboration</span></li>
                                    <li><i class="fas fa-check"></i><span>Next Day Project Delivery</span></li>
                                    <li><span>3 Projects at a time</span></li>
                                    <li><i class="fas fa-check"></i><span>Source Files Included</span></li>
                                    <li><i class="fas fa-check"></i><span>Unlimited Brands</span></li>
                                    <li><i class="fas fa-check"></i><span>No Contract or Cancellation Fee</span></li>
                                </ul> 
                                <% if user_signed_in? %>
                                    <!--<button type="button" class="btn btn-white btn-raise btn-round" data-toggle="modal" data-target="#myModal_2">Get Started</button>-->
                                    <% if @plans.present? %>
                                        <%= form_tag('/subscription_checkout', {method: :post}) do %>
                                          
                                            <input name="stripe_plan_id" type="hidden" value="<%= @plans[0][:id] %>"></input>
                                            <!--<input name="plan_id" type="hidden" value="<%#= plan[:id] %>"></input>-->
                                            <script class="stripe-button" data-amount="<%= 0 #(@plans[0][:amount]) %>" data-currency="<%= @plans[0][:currency] %>" data-email="<%= @signed_in_user.email %>" data-image="/design360-logo.png" data-key="<%= Rails.configuration.stripe[:publishable_key] %>" src="https://checkout.stripe.com/checkout.js"></script>
                                        <% end %>
                                    <% end %>
                                    
                                    
                                <% else %>
                                    <a style="margin: 0;"  id="modal-link-login" data-toggle="modal" data-target="#social-modal-join" class="btn btn-white btn-raise btn-round">Get Started</a> 
                                
                                <% end %> </div>
                        </div>
                    </div>
                    
                </div>
            </div>
    </div>
    </section>
    <!-- *********  END PRICING  ********* -->
        <section id="contact" class="">
        <div class="container">
            <div class="row text-center info-contact">
                <div class="col-sm-4 margin-b-md">
                    <i class="far fa-envelope"></i>
                    <h4>Get in touch</h4>
                    <ul class="list-unstyled">
                        <li><a href="mailto:support@design360.graphics">E: support@design360.graphics</a>
                        </li>
                        
                        <li><a href="http://design360.graphics/">W: www.design360.graphics</a>
                        </li>
                    </ul>
                </div>
                 <!--end Get in touch -->

                <div class="col-sm-4 margin-b-md">
                    <i class="fas fa-map-marker-alt"></i>
                    <h4>Our Location</h4>
                    <address>Design 360<br> 15 Somerset St <br>Tampa, FL 33767</address>
                </div>
                 <!--end Our Location -->

                <div class="col-sm-4 margin-b-md">
                    <i class="far fa-life-ring"></i>
                    <h4>Free Support</h4> Chat us now!
                    
                </div>
                 <!--end Support -->
            </div>
            <!-- /row -->
             <!--end row -->
        </div>
         <!--container -->
    </section>
    <!-- End CONTACT -->
    <!-- Footer -->
    
<footer class="footer-a">
	<div class="container">
		<div class="row">
			<div class="col-md-5 text-center">
				<p style="color:white;">©2018 Design360. Developed by <a href="http://www.systemplus.com.pk/">System Plus</a></p>
			</div>
			<div class="col-md-2 text-center">
				<a href="https://www.facebook.com/thedesign360" target="_blank" title="Facebook"><i class="fab fa-facebook-square fa-2x"></i></a>
				<a href="https://twitter.com/thedesign360" target="_blank" title="Twitter"><i class="fab fa-twitter-square fa-2x"></i></a>
				<a href="https://www.linkedin.com/company/thedesign360/" target="_blank" title="Linkedin"><i class="fab fa-linkedin fa-2x"></i></a>
			</ul>
			</div>
			<div class="col-md-5 text-center">
				
    			<p><a href="/terms">Terms & Conditions</a> |
    			<a href="/privacy_policy">Privacy Policy</a> |
    			<a href="#"  class="modal-link" data-toggle="modal" data-target="#email-modal-employ" data-dismiss="modal">Employee Login</a></p>

			</div>
		</div>
	</div>
</footer>

</div>
<script type="text/javascript"> <!-- cross browser -->
    window.requestAnimationFrame||(window.requestAnimationFrame=function(){return window.webkitRequestAnimationFrame||window.mozRequestAnimationFrame||window.oRequestAnimationFrame||window.msRequestAnimationFrame||function(n){window.setTimeout(n,1e3/60)}}());
</script>
<%= render 'plans/modal' %>
<%= render 'plans/modal_2' %>
 <%= render 'layouts/modal' %>