<% user = current_employee || current_user %>
<div class="main-div">
<div id="wrapper chatty">
    <%= render 'layouts/sidebar' %>
    <div class="row wrapper border-bottom white-bg page-heading">
       <div class="col-lg-10">
           <h2></h2>
       </div>
    </div>
    
    <!--<h2>Chat between @chat.subscriptions.</h2>-->
    <div class="chat-form-c" style="margin-top:30px;">
    <div id="messages" data-chat_id="<%= @chat.id %>">
      <% if not @chat_messages.blank? %>
      
          <% @chat_messages.each do |message| %>
            <div class = "each-message <%= (user.id == message.message_sender.id and user.class.to_s == message.message_sender.class.to_s) ? "right":"left"  %>">
          
              <%= render partial: 'messages/message',locals: {message: message} %>
            </div>
          
          <% end %>
    <% end %>
    </div>
    </div>
    
    <%= form_for(@message, :remote => true) do |f| %>

            <div class="answer-add">
                <%= f.text_area :content, :required => true, class:"form-control input-lg", placeholder:"Write Message" %>
                <%#= f.hidden_field :message_sender, :value => current_employee %>
                <%= f.hidden_field :chat_id, :value => @chat.id %>
                <%= f.hidden_field :message_sender_id, :value => user.id %>
                <%= f.hidden_field :message_sender_type, :value => user.class.to_s %>

           
            <!--<div class="col-md-1">-->
            <!--    <div class="fileinput fileinput-new" data-provides="fileinput">-->
            <!--        <span class="btn btn-default btn-file"><span class="fileinput-new">Select file</span>-->
            <!--        <span class="fileinput-exists">Change</span></span>-->
            <!--        <span class="fileinput-filename"></span>-->
            <!--        <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>-->
            <!--    </div>-->
            <!--</div>-->
            
                <%= f.file_field :document, id: "doc", style: "display:none;" %>
                <div class="answer-btn answer-btn-1">
                    
                </div>
                <%= f.submit "", id: "submit_message", class:"answer-btn answer-btn-2 btn btn-link" %>
            </div>

    <% end %>
<%= render 'layouts/footer' %>
</div>
</div>
