<div class="main-div">
<div id="wrapper">
    <%= render 'layouts/sidebar' %>
    
<div class="container" style="margin-top:  100px;">
    <!--<h2>Chat between @chat.subscriptions.</h2>-->
    <div id="messages" data-chat_id="<%= @chat.id %>">
      <% if not @chat_messages.blank? %>
      
          <%# @chat_messages.each do |message| %>
          
              <%= render @chat_messages %>
          
          <%# end %>
    <% end %>
    </div>
    <% user = current_employee || current_user %>
    <%= bootstrap_form_for(@message, :remote => true) do |f| %>
        <%= f.text_area :content, :required => true %>
        <%#= f.hidden_field :message_sender, :value => current_employee %>
        <%= f.hidden_field :chat_id, :value => @chat.id %>
        <%= f.hidden_field :message_sender_id, :value => user.id %>
        <%= f.hidden_field :message_sender_type, :value => user.class.to_s %>
        <%= f.file_field :document, label: "Attatch File" %>
        <%= f.submit "Send Message", id: "submit_message" %>
    <% end %>
</div>
</div>
</div>