<%= form_with(model: plan, local: true) do |form| %>
  <% if plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, id: :plan_amount %>
  </div>
  
  <div class="field">
    <%= form.label :trial_period %>
    <%= form.number_field :trial_period, id: :plan_trial_period %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :plan_name %>
  </div>

  <div class="field">
    <%= form.label :interval %>
    <%#= form.select :interval, id: :plan_interval %>
    <%= form.select :interval,options_for_select([["Year",'year'],['Month','month']]), {multiple: false, :include_blank => false,prompt: "Please select Interval"},{id: :plan_interval} %>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
