

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
          <%# @plans.each do |plan| %>
          <% if user_signed_in? %>
            <%#= @plans[1][:id] %>
            <% if @plans.present? %>
              <%= form_tag('/subscription_checkout', {method: :post}) do %>
                
                  <input name="stripe_plan_id" type="hidden" value="<%= @plans[1][:id] %>"></input>
                  <!--<input name="plan_id" type="hidden" value="<%#= plan[:id] %>"></input>-->
                  <script class="stripe-button" data-amount="<%= (@plans[1][:amount]) %>" data-currency="<%= @plans[1][:currency] %>" data-email="<%= @signed_in_user.email %>" data-image="/design360-logo.png" data-key="<%= Rails.configuration.stripe[:publishable_key] %>" src="https://checkout.stripe.com/checkout.js"></script>
              <% end %>
            <% end %>
          <% end %>
          
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
