
<script src="/inspinia.js" data-turbolinks-track="reload"></script>

<script src="/jquery_slim_scroll.js" data-turbolinks-track="reload"></script>
<script src="/metisMenu.js" data-turbolinks-track="reload"></script>
<script src="/pace.min.js" data-turbolinks-track="reload"></script>
<script src="/js_inspinia.js" data-turbolinks-track="reload"></script>

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
    <% if current_user %>
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header text-center">
                <div class="dropdown profile-element"> <span>
                        <img alt="image" src="/design360-logo.png" width="100%" />
                         </span>
                    
                        <a style="cursor:default;"><span class="clear"> <span class="block m-t-xs"> <strong class="font-bold"><%= current_user.name %></strong>
                         </span> <span class="text-xs block">Dashboard</b></span> </span> </a>
                    
                </div>
                <div class="logo-element">
                    D
                </div>
            </li>
           <li class="<%= active_class(clients_dashboard_path) %>">
                <a href="<%= clients_dashboard_path %>"><i class="fa fa-user"></i> <span class="nav-label">Dashboard</span></a>
            </li>
            <li class="<%= active_class('/users/edit') %>">
                <a href="/users/edit"><i class="fa fa-user"></i> <span class="nav-label">Settings</span></a>
            </li>
        </ul>
    <% end %>
    <% if current_employee %>
        <% if current_employee.role == "admin" %>
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header text-center">
                <div class="dropdown profile-element"> 
                    <span>
                    <img alt="image" class="img-circle" src="/profile_small.jpg" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold"><%= current_employee.name %></strong>
                         </span> <span class="text-xs block">Admin<b class="caret"></b></span> </span> </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href=<%= edit_employee_path(current_employee) %>>Profile</a></li>
                        <li class=""></li>
                        <li><a href="/employees/sign_out" data-method="delete">Logout</a></li>
                    </ul>
                </div>
                    <div class="logo-element">
                        D
                    </div>
                </li>
               <li class="<%= active_class(admin_dashboard_path) %>">
                    <a href="/admin/dashboard"><i class="fa fa-user"></i> <span class="nav-label">Dashboard</span></a>
                </li>
                <li class="<%= active_class(admin_templates_path) %>">
                    <a href="/admin/templates"><i class="fa fa-user"></i> <span class="nav-label">Templates</span></a>
                </li>
                <li class="<%= active_class(admin_orders_path) %>">
                    <a href="/admin/orders"><i class="fa fa-user"></i> <span class="nav-label">Orders</span></a>
                </li>
                <li class="<%= active_class(admin_managers_path) %>">
                    <a href="/admin/managers"><i class="fa fa-user"></i> <span class="nav-label">Managers</span></a>
                </li>
                <li class="<%= active_class(admin_clients_path) %>">
                    <a href="/admin/clients"><i class="fa fa-user"></i> <span class="nav-label">Clients</span></a>
                </li>
                <li class="<%= active_class(edit_employee_path(current_employee)) %>">
                    <a href="<%= edit_employee_path(current_employee) %>"><i class="fa fa-user"></i> <span class="nav-label">Settings</span></a>
                </li>
            </ul>
        <% else %>
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header text-center">
                    <div class="dropdown profile-element"> 
                    <span>
                    <img alt="image" class="img-circle" src="/profile_small.jpg" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold"><%= current_employee.name %></strong>
                         </span> <span class="text-xs block">Manager<b class="caret"></b></span> </span> </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href=<%= edit_employee_path(current_employee) %>>Profile</a></li>
                        <li class=""></li>
                        <li><a href="/employees/sign_out" data-method="delete">Logout</a></li>
                    </ul>
                </div>
                    <div class="logo-element">
                        D
                    </div>
                </li>
               <li class="<%= active_class(managers_dashboard_path) %>">
                    <a href="<%= managers_dashboard_path %>"><i class="fa fa-user"></i> <span class="nav-label">Dashboard</span></a>
                </li>
                <li class="<%= active_class(edit_employee_path(current_employee)) %>">
                    <a href="<%= edit_employee_path(current_employee) %>"><i class="fa fa-user"></i> <span class="nav-label">Settings</span></a>
                </li>
            </ul>
        <% end %>
    <% end %>
    </div>
</nav>

<div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary "><i class="fa fa-bars"></i> </a>
        <form role="search" class="navbar-form-custom" action="">
            <div class="form-group">
                <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
            </div>
        </form>
    </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message"><a href="/">Design360</a></span>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> Order is completed by ABC
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> You have 3 Orders Pending
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <!--<#% if current_user %>-->
            <!--    <li>-->
            <!--        <a href='/users/edit' >-->
            <!--            <i class="fa fa-sign-out"></i> Edit Profile-->
            <!--        </a>-->
            <!--    </li>-->
            <!--<#% elsif current_employee %>-->
            <!--    <li>-->
            <!--        <a href=<#%= edit_employee_path(current_employee) %>>-->
            <!--            <i class="fa fa-sign-out"></i> Edit Profile-->
            <!--        </a>-->
            <!--    </li>-->
            <!--<#% end %>-->
            <% if current_employee %>
                <li>
                    <a href="/employees/sign_out" data-method="delete">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            <% elsif current_user %>
                <li>
                    <a href="/users/sign_out" data-method="delete">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            <% end %>
            
        </ul>

    </nav>
    </div>